/* пустой класс лишние потступы - код не оо фораматирован */
.main {
}

.main__start {
    margin-bottom: 83px;
}
.main__next {
    margin-bottom: 150px;
}

.main__features {
    margin-bottom: 150px;
}
.main__testimonials {
    margin-bottom: 150px;
}
