body {
    /* не задана мин ширина страницы */
    /* не заданы дефолтные стлили для шрифтов */
    /* не подключен normalize */
    /* цвета надо выносить в отдельные переменные */
    font-family: "Ubuntu", sans-serif;
}
.wrapper {
    padding: 61px 0 65px;
    overflow: hidden;
    min-height: 100%;
}
.container {
    max-width: 1248px;
    margin: 0 auto;
    /* box-sizing вешать надр на все блоки
        * {
             box-sizing: content-box;
        }
    */
    box-sizing: content-box;
    padding: 0 15px;
}
.text {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4b5d68;
}

.title {
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
